<!-- <p>{{personalDetails | json}}</p>
<p>{{professionalDetails | json}}</p> -->

<div class="card-centered">
         
<div *ngIf="alert" class="alert alert-success" role="alert">
<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert"> -->
      <strong>Success!</strong>Your data has been submitted successfully.
      <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </button> 
</div>
 <div class="form-group col-5">
        <h2>Review and Submit</h2>
<table>
    <tbody>
        <tr>
             <td>First Name</td>
            <td>{{personalDetails.firstName}}</td>
        </tr>
        <tr>
              <td>Middle Name</td>
              <td>{{personalDetails.middleName}}</td>
        </tr>
        <tr>
             <td>Last Name</td>
             <td>{{personalDetails.lastName}}</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{personalDetails.Mob}}</td>
        </tr>
        <tr>
              <td>Address</td>
              <td>{{personalDetails.address}}</td>
        </tr>
         <tr>
              <td>Company Name</td>
              <td>{{professionalDetails.cname}}</td>
        </tr>
         <tr>
              <td>Year of Experience</td>
              <td>{{professionalDetails.rname}}</td>
        </tr>
        <tr>
              <td>Salary Range</td>
              <td>{{professionalDetails.minsalary}} - {{professionalDetails.maxsalary}}</td>
        </tr>
       
    </tbody>
</table>
</div>
 <div class="btn-group">
 <div class="form-group col-5">
               
 <button class="btn btn-secondary" type="button" (click)="goToProfessional()" name="next">Back</button>
 </div>
  <div class="form-group col-5">
               
<button class="btn btn-success" type="submit"(click)="onFormSubmit()">Submit</button>
</div>
</div>
</div>
